.header {
    display: flex;
    margin: 0 auto;
    gap: 16px;
    align-items: center;
    padding: 16px;
    max-width: 375px;
    background-color: var(--white);
}
.headerText {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
}
