:root {
    --green: #85aa9f;
    --light-green: #a5c0b8;
    --black: #121417;
    --grey: rgba(18, 20, 23, 0.5);
    --back-green: rgba(133, 170, 159, 0.1);
    --light-grey: #f8f8f8;
    --white: #fcfcfc;
    --red: #d80027;
    --success-green: #3cbf61;
}
